<header>
    <div class="container">
        <h1>Find love n<i class="fa fa-heart"></i>w</h1>
        <form>
            <div class="field">
                <input type="text" placeholder="YOUR CITY">
                <i class="fa fa-globe"></i>
            </div>
            <button>search</button>
        </form>
    </div>
</header>

<div class="container">
    <h2>
        <a href="http://github.com/thibaultboursier" title="Github account" target="_blank">
            https://github.com/thibaultboursier
        </a>
    </h2>
</div>