<div class="container">
    <h1>Members</h1>

    <section class="members col-md-8">
        <div class="row">
            <div class="col-md-3 no-padding">
                <div class="member">
                    <div class="photo">

                    </div>
                    <p class="infos">
                        lucie
                    </p>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="member"></div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="member"></div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="member"></div>
            </div>
         </div>
    </section>
    <section class="options col-md-4">
        options
    </section>
</div>