body{
  background-color:#fffefd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

nav.main{
  padding:15px;
}

nav.main ul{
  list-style:none;
  padding: 0;
}

nav.main ul li{
  display: inline-block;
}

nav.main ul li a{
  color: crimson;
  font-size:1.7em;
  text-decoration:none;
  display:inline-block;
  margin-right:30px;
}

header{
  overflow:hidden;
  background:url('../img/backgrounds/bg-couple.jpg') no-repeat center;
  background-size:cover;
  text-align:center;
}

header h1{
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-size:4em;
  margin-top:70px;
  color:#333;
}

h2{
  text-align: center;
  margin-top:80px;margin-bottom:20px;
  font-size:1.5em;
  line-height:1.8em;
}

header h1 i{
  font-size: 35px !important;
  margin-top: 11px;
  vertical-align: top;
  color:#fff;
  text-shadow: 1px 2px 3px lightgrey;
}

form{
  display:inline-block;
  margin-top:60px;
  margin-bottom:130px;
}

form .field{
  display:inline-block;
  position:relative;
}

form .field i{
  color: lightgrey;
  position: absolute;
  top: 13px;
  font-size: 1.7em;
  left: 15px;
}

form input{
  padding:10px 10px 10px 45px;
  height:50px;
  border:3px solid #333;
  width:300px;
  font-size:1.6em;
  border-radius:5px;
  transition:0.2s all linear;
}

form input:focus{
  width:450px;
}

form button{
  margin-left:3px;
  padding:10px 14px;
  height:50px;
  background-color:crimson;
  color:#fff;
  vertical-align: top;
  font-size:1.4em;
  border:none;
  border-radius:5px;
}
